@use '../../../styles/tokens' as tokens;
@use '../../../styles/mixins' as mixins;

.root {
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
  padding-right: 2px;
}

@include mixins.max-width(tokens.$bp-md) {
  .root {
    padding-right: 0;
  }
}
